*~
custom.el
packages
auto-save-list
ido.last
\#*\#
*.\#*
url
eshell/*
tramp
.mc-lists.el
org-clock-save.el
bbdb
transient/*
server/*
bookmarks
request/*
.DS_Store
games/*
network-security.data
org-persist/
.org-id-locations
eln-cache/*

